* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}
  
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;

}

.mainbar{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    padding: 0.75rem;

}

.slidebar{
    background-color: black;    
    width: 330px;
    padding: 5px 5px;
}

.music{
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    display: flex;
}

a{
    text-decoration: none;
    color: white;
}
.nav{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    padding: 0.25rem .5rem;
}


.navoption{
    line-height: 40px;
    padding: 0.5rem;
    opacity: 0.7;
    background-color: inherit;
   
}

.navoption:hover {
    opacity: 1;
   
}

.navoption i{
    font-size: 1.25rem;
    cursor: pointer;
    margin-right: 10px;
}

.navoption a{
    font-size: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 0.5rem;
    margin-top: 5px;
    height: 100%;
    
}
.libraryoption{
    display: flex;
    padding: 0.5rem .75rem;
    border-radius: 1rem;
    justify-content: space-between;
    background-color: inherit;

}

.yourlib img{
    height: 1.25rem;
    width:1.25rem;
    padding-right: 0.5rem ;
    cursor: pointer;
    background-color: #232323;

}

.libraryicons i{
    height: 1.25rem;
    width:1.25rem;
    padding:8px;
    cursor: pointer;
    opacity: 0.7;
    background-color: #121212;
}
.libraryicons i:hover{
    opacity: 1;
}

.yourlib{
    opacity: 0.7;
    background-color: inherit;
    
}
.yourlib a{
    background-color: #121212;
}
.yourlib:hover{
    opacity: 1;
    
}

.box {
    height: 8rem;
    background-color: #232323;
    border-radius: 1rem;
    padding: 1rem 0.75rem;
    margin: 0.25rem 0rem;
    line-height: 2rem;
}

.box1{
    background-color: inherit;
    font-weight: 500;
    font-size: 1rem;
}

.box2{
    background-color: inherit;
    font-size: 0.79rem;
    font-weight: 300;
    text-wrap: wrap;
 
}
.box button{
    background-color: white;
    color: gray;
    border: none;
    border-radius: 100px;
    padding: 0.35rem 1rem;
    font-weight: 700;
    width: fit-content;
    margin-top: 0.5rem;
    cursor: pointer;
}

.box button:hover{
    scale: 1.1;
}
.main-stiky-head{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #121212;

}

.move{
    background-color: #121212;
    border-radius: 1rem;
}

.move img{
    height: 1.25rem;
    width:1.25rem;
    padding:8px;
    cursor: pointer;
    opacity: 0.7;
    background-color: #121212;
}

.move img:hover{
    opacity: 1;
}

.stiky-options{
    background-color: #121212;
    justify-content: center;
    align-items: center;
}

.stiky-btn-1{
    background-color: #121212;
    margin-right: 18px;
    margin-top:0.5rem;
    color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.35rem 1rem;
    font-weight: 700;
    width: fit-content;
    margin-top: 0.5rem;
    cursor: pointer;
}

.stiky-btn-2{
    background-color: #fff;
    margin-right: 18px;
    margin-top:0.5rem;
    color: gray;
    border: none;
    border-radius: 100px;
    padding: 0.35rem 1rem;
    font-weight: 700;
    width: fit-content;
    margin-top: 0.5rem;
    cursor: pointer;
}

.stiky-btn-2 i{
    color: gray;
    background-color: #fff;
}

.stiky-nav-options-icon{
    background-color: #121212;
    margin-right: 18px;
    font-size: 1.25rem;
    opacity: 0.7;
    cursor: pointer;
}

.stiky-nav-options-icon:hover{
    opacity: 1;
}

.btn-1:hover{
    scale: 1.1;
}

.btn-2:hover{
    scale: 1.1;
}

@media (max-width: 1000px){
    .move-img-2{
        display: none;
    }

    .btn-1{
        display: none;
    }
}


.card{
    background-color: rgb(44, 43, 43);
    width: 150px;
    padding: 10px;
    border-radius: 1rem;
    margin: 20px 10px;

}

.divimg{
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #121212;
}

.main-content{
    margin-bottom: 10px;
}
.card p{
    background-color: rgb(44, 43, 43);
}

.footer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    background-color: #121212;
}
.line{
    height: 30%;
    width: 90%;
    border-top: solid white;
    opacity: 0.4;
}

.current{
    width: 25%;
    background-color: #FF671F;
}

.playbar{
    width: 50%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playericons{
    height: 50%;
}

.playericons img{
    height: 1rem;
    margin-left: 20px;
    opacity: 0.5;

}

.playericons img:hover{
    opacity: 1;

}

.playplaybar{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress{
    width: 70%;
}
.progress::-webkit-slider-runnable-track{
    appearance: none;
    background-color: transparent;
}

.tools{
    width: 25%;
    background-color: #046A38;
}